{% import "components/user.html" as user with context %}
<div class="section side section--problem-sidebar">
{% if page_name != 'problem_detail' and page_name != 'contest_detail_problem' %}
  <div class="section__header">
    <h1 class="section__title">{{ pdoc['title'] }}</h1>
  </div>
{% endif %}
  <div>
    {% if handler.is_ongoing(tdoc) %}
    <ol class="menu">
      {% if page_name == 'contest_detail_problem' %}
      {% else %}
      <li class="menu__item"><a class="menu__link" href="{{ reverse_url('contest_detail_problem', tid=tdoc['doc_id'], pid=pdoc['doc_id']) }}">
        <span class="icon icon-flag"></span> {{ _('View Problem') }}
      </a></li>
      {% endif %}
      <li class="menu__item scratchpad--hide"><a class="menu__link{% if page_name == 'contest_detail_problem_submit' %} active{% endif %}" href="{{ reverse_url('contest_detail_problem_submit', tid=tdoc['doc_id'], pid=pdoc['doc_id']) }}">
        <span class="icon icon-send"></span> {{ _('Submit') }}
      </a></li>
    </ol>
    {% endif %}
  </div>
</div>
