{% import "components/user.html" as user with context %}
{% import "components/problem.html" as problem with context %}
<div class="section side">
  <div class="section__header">
    <h1 class="section__title">{{ _('Information') }}</h1>
  </div>
  <div class="section__body typo">
    <dl class="large horizontal">
    {% if pdoc['doc_id']|string|length < 10 %}
      <dt>{{ _('ID') }}</dt>
      <dd>{{ pdoc['doc_id'] }}</dd>
    {% endif %}
    {% if page_name != 'discussion_node' and page_name != 'discussion_detail' %}
    {% if handler.has_priv(vj4.model.builtin.PRIV_USER_PROFILE) %}
      <dt>{{ _('Submission') }}</dt>
      <dd>
      {% if pdoc['psdoc']['status'] %}
        <span class="icon record-status--icon {{ vj4.constant.record.STATUS_CODES[pdoc['psdoc']['status']] }}"></span>
        <a href="{{ reverse_url('record_detail', rid=pdoc['psdoc']['rid'], domain_id=pdoc['psdoc']['domain_id']) }}" class="record-status--text {{ vj4.constant.record.STATUS_CODES[pdoc['psdoc']['status']] }}">
          {{ vj4.constant.record.STATUS_TEXTS[pdoc['psdoc']['status']] }}
        </a>
      {% else %}
        {{ _('(None)') }}
      {% endif %}
      </dd>
    {% endif %}
    {% endif %}
      <dt>{{ _('Tags') }}</dt>
      <dd>
        {{ problem.render_problem_tags(pdoc, true) }}
      </dd>
      <dt>{{ _('# Submissions') }}</dt>
      <dd><a href="{{ reverse_url('record_main') }}?pid={{ pdoc['doc_id'] }}">{{ pdoc['num_submit'] }}</a></dd>
      {% if page_name != 'discussion_node' and page_name != 'discussion_detail' %}
      {% if handler.has_priv(vj4.model.builtin.PRIV_USER_PROFILE) %}
      <dt>{{ _('# My Submissions') }}</dt>
      <dd><a href="{{ reverse_url('record_main') }}?pid={{ pdoc['doc_id'] }}&uid_or_name={{ handler.user['_id'] }}">{{ pdoc['psdoc']['num_submit']|default(0) }}</a></dd>
      {% endif %}
      {% endif %}
    {% if pdoc['owner_uid'] != 0 %}
      <dt>{{ _('Uploaded By') }}</dt>
      <dd>{{ user.render_inline(owner_udoc, owner_dudoc, badge=false) }}</dd>
    {% endif %}
    </dl>
  </div>
</div>
